[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
ralli_bet = "Dwh1o43c4zeHc9LboGb8HnwqQbu9ERoCzZ9jtG6zmTmt"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
test-batch = "npx ts-mocha -p ./tsconfig.json -t 1000000 tests/batch_resolution_tests.ts"
test-lineV2 = "npx ts-mocha -p ./tsconfig.json -t 1000000 tests/lineV2-tests.ts"
test-main = "npx ts-mocha -p ./tsconfig.json -t 1000000 tests/ralli-bet.ts"
